<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Price Banana Tracker</title>
	<!-- jquery -->
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.min.css">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!-- bootstrap-social and font-awesome -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- jquery -->
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
	<!-- highcharts -->
	<script src="https://code.highcharts.com/stock/highstock.js"></script>
	<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
        <script src="/js/functions.js"></script>
        <script src="/js/jAlert.js"></script>
        <script src="/js/jquery.numeric.min.js"></script>
        
        
	<link rel="stylesheet" type="text/css" href="/css/style.css" />
        <link rel="stylesheet" type="text/css" href="/css/inventory.css" />
        <link rel="stylesheet" type="text/css" href="/css/tracking.css" />
        <link rel="stylesheet" type="text/css" href="/css/jAlert.css" />
        
</head>
<body>
 
<div id="tabs">
	
	<ul>
		<li><a href="#tabs-price-history">Price History</a></li>
                <li style="visibility: hidden;"><a id="login_register_tab" href="#tabs-login_register">Login/Register</a></li>
	</ul>
        
	<div id="tabs-price-history">
		<div id="chartContainer"></div>
	</div>
        <div id="tabs-inventoryList">
            <div id="form_inventoryList">
                
            </div>
            <div id="chartContainer-inventoryList">
            </div>
	</div>
	
    
        <div id="tabs-login_register">
			<!-- acount-form -->
			<div id="acount-form">
				<div class="panel panel-login">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-6">
								<a href="#" class="active" id="login-form-link">Login</a>
							</div>
							<div class="col-xs-6">
								<a href="#" id="register-form-link">Register</a>
							</div>
						</div>
						<hr>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-12">
								<form id="login-form" method="post" role="form">
									<div class="row">
										<div class="col-lg-12">
											<div class="form-group">
												<input type="text" name="logemail" tabindex="1" class="form-control" placeholder="Email">
											</div>
											<div class="form-group">
												<input type="password" name="logpassword" tabindex="2" class="form-control" placeholder="Password">
											</div>
											<div class="form-group">
												<div class="row">
													<div class="col-sm-4">
														<input type="checkbox" tabindex="3" name="rememberme">
														<label for="rememberme">Remember Me</label>
													</div>
												</div>
											</div>
											<div class="form-group">
												<div class="row">
													<div class="col-sm-5">
														<input type="button" id="login-submit" tabindex="4" class="form-control btn btn btn-primary" value="Log In">
													</div>
												</div>
											</div>
										</div>
									</div>
								</form>
								<form id="register-form" method="post" role="form" style="display: none;">
									<div class="row">
										<div class="col-lg-12">
											<div class="form-group">
												<input type="email" name="email" tabindex="6" class="form-control" placeholder="Email Address">
											</div>
											<div class="form-group">
												<input type="password" name="password" tabindex="7" class="form-control" placeholder="Password">
											</div>
											<div class="form-group">
												<input type="password" name="passwordConf" tabindex="8" class="form-control" placeholder="Confirm Password">
											</div>
											<div class="form-group">
												<div class="row">
													<div class="col-sm-5">
														<input type="button" name="register-submit" id="register-submit" tabindex="9" class="form-control btn btn btn-primary" value="Register Now">
													</div>
												</div>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end acount-form -->
			
	</div>
    
        <div style="float: left;margin: 10px;">
            <label style="cursor: pointer;" id="track-label">
                <input type="checkbox" id="track-button"/>
                Track product
            </label>
            
        </div>
        <div style="float: right;margin: 10px;" id='login-logout'>
            <button class="ui-button ui-widget ui-corner-all">Login/Register</button>
        </div>
        <div style="clear: both;"></div>
        <div id="tracking_div" style="display: none;background-color: #ccc;">
            <table id="tracking_table">
                <thead>
                    <tr>
                        <th>
                            Product
                        </th>
                        <th>
                            Desired price
                        </th>
                        <th>
                            Current price
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <%= name %>
                        </td>
                        <td>
                            SGD <input style="width: 50%;" class="numeric" type="text" id="desired_price" value=""/>
                        </td>
                        <td id="current_price">
                            SGD <%= current_price %>
                        </td>
                        
                    </tr>
                </tbody>
            </table>
        </div>
        
    
</div>
 <div id="tracking" style="display: none;">success</div>
 <script>
     var isLogin= <%= isLogin %>;
        var href=window.location.href.split('banana/');
        href=href[1];
        href=href.split('/');
        domain=href[0];
        id=href[1].replace("/","");
        var current_price = parseFloat('<%= current_price %>');
        var tracked_price = '<%= tracked_price %>';
        if(tracked_price!=''){
            tracked_price=parseFloat(tracked_price);
        }
        var price_history='<%= price_history %>';
        
	$( function() {
        
        $("#current_price").html("SGD "+numberWithCommasForToko(current_price));
        if(tracked_price!=''){
            $("#desired_price").val(numberWithCommasForToko(tracked_price));
        }
        
    });



        var data_price=[];
        temp=price_history.split('_');
        for(i=0;i<temp.length;i++){
            if(temp[i]!=''){
                date_and_price=temp[i].split('-');
                date=parseInt(date_and_price[0]);
                price=parseFloat(date_and_price[1]);
                data_price.push([date,price]);
            }
            
        }
        seriesData=[{
				name: 'Price',
				data: data_price,
				tooltip: {
					valueDecimals: 2,
					pointFormat: '{series.name}: <b>SGD {point.y}</b><br/>',
					shared: true,
					xDateFormat: '%b %e %Y'
				}
			}];
        showChart('Price','Price History',seriesData,'chartContainer');
	
    
 </script>
<script src="/js/run.js"></script>
</body>
</html>