<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Price Banana Tracker</title>
	<!-- jquery -->
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.min.css">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!-- bootstrap-social and font-awesome -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- jquery -->
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
	<!-- highcharts -->
	<script src="https://code.highcharts.com/stock/highstock.js"></script>
	<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
        <script src="/js/functions.js"></script>
        <script src="/js/functions_qoo10.js"></script>
        
	<link rel="stylesheet" type="text/css" href="/css/style.css" />
        <link rel="stylesheet" type="text/css" href="/css/inventory.css" />
</head>
<body>
 
<div id="tabs">
	<div class="acount">
		<span href="#" id="user_email"><%= user_email %></span>
	</div>
	<ul>
		<li><a href="#tabs-price-history">Price History</a></li>
                <li><a id="inventoryList" href="#tabs-inventoryList">Inventory list</a></li>
		<li><a id="tracking_tab" href="#tabs-track-product">Track Product</a></li>
                <li><a id="login_register_tab" href="#tabs-login_register">Login/Register</a></li>
	</ul>
	<div id="tabs-price-history">
		<div id="chartContainer"></div>
	</div>
        <div id="tabs-inventoryList">
            <div id="form_inventoryList">
                
            </div>
            <div id="chartContainer-inventoryList">
            </div>
	</div>
	<div id="tabs-track-product">
			
			<!-- track-price -->
			<div id="track-price" class="group-price">
				<form action="" method="post" class="track-product">
					<p class="price">Price: <span></span></p>
					<p class="tracking_price">Traking Price: <span></span></p>
					<p class="discount_price">Sale: <span></span><i></i></p>
					<div class="price_slider">
					  <div class="ui-slider-handle custom-handle"></div>
					</div>
					<div class="action">
						<button class="ui-button ui-widget ui-corner-all"><%= label_for_action_tracking %></button>
					</div>
				</form>
			</div>
			<!-- end track-price -->
	</div>
    
        <div id="tabs-login_register">
			<!-- acount-form -->
			<div id="acount-form">
				<div class="panel panel-login">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-6">
								<a href="#" class="active" id="login-form-link">Login</a>
							</div>
							<div class="col-xs-6">
								<a href="#" id="register-form-link">Register</a>
							</div>
						</div>
						<hr>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-12">
								<form id="login-form" method="post" role="form">
									<div class="row">
										<div class="col-lg-12">
											<div class="form-group">
												<input type="text" name="logemail" tabindex="1" class="form-control" placeholder="Email">
											</div>
											<div class="form-group">
												<input type="password" name="logpassword" tabindex="2" class="form-control" placeholder="Password">
											</div>
											<div class="form-group">
												<div class="row">
													<div class="col-sm-4">
														<input type="checkbox" tabindex="3" name="rememberme">
														<label for="rememberme">Remember Me</label>
													</div>
												</div>
											</div>
											<div class="form-group">
												<div class="row">
													<div class="col-sm-5">
														<input type="button" id="login-submit" tabindex="4" class="form-control btn btn btn-primary" value="Log In">
													</div>
												</div>
											</div>
										</div>
									</div>
								</form>
								<form id="register-form" method="post" role="form" style="display: none;">
									<div class="row">
										<div class="col-lg-12">
											<div class="form-group">
												<input type="email" name="email" tabindex="6" class="form-control" placeholder="Email Address">
											</div>
											<div class="form-group">
												<input type="password" name="password" tabindex="7" class="form-control" placeholder="Password">
											</div>
											<div class="form-group">
												<input type="password" name="passwordConf" tabindex="8" class="form-control" placeholder="Confirm Password">
											</div>
											<div class="form-group">
												<div class="row">
													<div class="col-sm-5">
														<input type="button" name="register-submit" id="register-submit" tabindex="9" class="form-control btn btn btn-primary" value="Register Now">
													</div>
												</div>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end acount-form -->
			
	</div>
        
    
</div>
 
 <script>
    window.onerror = function myErrorHandler(errorMsg, url, lineNumber) {
        $("body").html("Please reload.");
    }
    <% if (typeof price_history == 'undefined' || typeof current_price == 'undefined' || typeof tracked_price == 'undefined' ||typeof item_type_history == 'undefined' || typeof item_type_labels == 'undefined') { %>
        $("body").html("Please reload.");
    <% } %>
     var hasJustTracked=false;
     var isLogin= <%= isLogin %>;
        var href=window.location.href.split('banana/');
        href=href[1];
        href=href.split('/');
        domain=href[0];
        id=href[1].replace("/","");
        var current_price = parseFloat('<%= current_price %>');
        var tracked_price = parseFloat('<%= tracked_price %>');
        var price_history='<%= price_history %>';
        
        is_admin= '<%= is_admin %>';
        if(is_admin=='1'){
            label_for_yAxis='Price - Quantity';
        }
        else{
            label_for_yAxis='Price';
        }
        
        item_type_history= '<%= item_type_history %>';
        item_type_labels= '<%= item_type_labels %>';
        
	$( function() {
        
        if(item_type_history!=''&&item_type_history!='{}'){
            var find = '&#34;';
            var re = new RegExp(find, 'g');

            var item_type_html='<table>';
            var selectAll='<table><tr><td style="width:25%;"><strong>Item Type</strong></td>';
            
            item_type_history = item_type_history.replace(re, '"');
            item_type_labels = item_type_labels.replace(re, '"');
            
            item_type_history=$.parseJSON(item_type_history);
            item_type_labels=$.parseJSON(item_type_labels);
            
            if(item_type_labels.length>1){
                selectAll+='<td style="width:75%;">'+
                        '<a class="view_all" id="OptionAllList">'+
                        '<span><em class="ic_lst"></em>View All<i></i></span>'+
                        '</a>'+
                        '<div id="div_inventory_list" style="display:none;max-height:100px;overflow-y: auto;"><table class="view-all"><tr>';
                width=100/parseInt(item_type_labels.length);
                width=width.toFixed(2);
                width+="%";
                for(i=0;i<item_type_labels.length;i++){
                    selectAll+='<th style="width:'+width+';">'+item_type_labels[i]+'</th>';
                }
                selectAll+='</tr>';
                for(key in item_type_history){
                    selectAll+='<tr class="item"><input type="hidden" value="'+key+'"/>';
                    temp=key.split('|');
                    for(i=0;i<temp.length;i++){
                        selectAll+='<td>'+temp[i]+'</td>';
                    }
                    selectAll+='</tr>';
                }
                selectAll+='</table></div><div id="div_close" style="display:none;float: right;"><a class="btn_close" id="a_OptAllVw_closeBTN1">Close</a></div><select id="select_inventoryList" style="display: none;"><option value="">';
            }
            
            for(i=0;i<item_type_labels.length;i++){
                if(item_type_labels.length>1){
                    selectAll+=item_type_labels[i];
                    if(i<item_type_labels.length-1){
                        selectAll+="&nbsp;&nbsp;&nbsp;";
                    }
                }
                
                item_type_html+='<tr><td style="width:25%;">&nbsp;&nbsp;&nbsp;'+item_type_labels[i]+'</td><td style="width:75%;"><select style="width:40%;" id="level'+i+'" name="level"><option value="">Please select</option>';
                if(i==0){
                    options_level0={};
                    for(key in item_type_history){
                        temp=key.split('|');
                        options_level0[temp[i]]='';
                    }
                    for(key in options_level0){
                        item_type_html+='<option value="'+key+'">'+key+'</option>';
                    }
                }
                
                item_type_html+='</select></td></tr>';
            }
            item_type_html+='<table>';
            
            if(item_type_labels.length>1){
                selectAll+="</option>";
                for(key in item_type_history){
                    selectAll+='<option value="'+key+'">'+key.split('|').join('&nbsp;&nbsp;&nbsp;')+'</option>';
                }
                selectAll+='</select></td>';
            }
            
            selectAll+='</tr></table><br>';
            
            $("#form_inventoryList").html(selectAll+item_type_html);
            
            $("#form_inventoryList").delegate("select", "click", function(){
                if($(this).attr('id')!='select_inventoryList'&&$(this).find('option').length==1&&$(this).find('option').eq(0).html()=='Please select'){
                    alert("Please choose the above option first.");
                }
            });
            $("#OptionAllList").click(function(){
                $("#div_inventory_list").show(1000);
                $("#div_close").show(1000);
            });
            $("#a_OptAllVw_closeBTN1").click(function(){
                $("#div_inventory_list").hide(1000);
                $("#div_close").hide(1000);
            });
            
            $("#div_inventory_list tr.item").click(function(){
                key=$(this).find('input').eq(0).val();
                seriesData=getSeriesData(key,is_admin);

                if($("#level0").find('option').eq(0).html()=='Please select'){
                    $("#level0").find('option').eq(0).remove();
                }
                
                for (i = 1; i < $("select[name='level']").length; i++) {
                    $("#level" + i).html('');
                }
                selects=$("select[name='level']");
                temp=key.split('|');

                for(i=0;i<selects.length;i++){
                    $(selects[i]).val(temp[i]);
                    if(i<temp.length-1){
                        index=i+1;
                        next_options = [];
                        for (key in item_type_history) {
                            temp1 = key.split('|');
                            run = true;
                            for (m = 0; m <= index - 1; m++) {
                                if ($("#level" + m).val() != temp1[m]) {
                                    run = false;
                                    break;
                                }
                            }
                            if (run == true) {
                                next_options[temp1[index]] = '';

                            }
                        }

                        ar=[];
                        for (key in next_options) {
                            ar.push(key);
                        }
                        ar.sort();
                        for(j=0;j<ar.length;j++){
                            key=ar[j];
                            $("#level" + index).append('<option value="' + key + '">' + key + '</option>');
                        }


                    }

                }
                
                $("#div_inventory_list").hide(1000);
                $("#div_close").hide(1000);
                
                showChart(label_for_yAxis,label_for_yAxis+' History',seriesData,'chartContainer-inventoryList');
                
                
            });
            $("#form_inventoryList").delegate("select", "change", function(){
                if($(this).attr('id')=='select_inventoryList'){
                    key=$(this).val();
                    seriesData=getSeriesData(key,is_admin);
                    
                    for (i = 1; i < $("select[name='level']").length; i++) {
                        $("#level" + i).html('');
                    }
                    selects=$("select[name='level']");
                    temp=key.split('|');
                    
                    for(i=0;i<selects.length;i++){
                        $(selects[i]).val(temp[i]);
                        if(i<temp.length-1){
                            index=i+1;
                            next_options = [];
                            for (key in item_type_history) {
                                temp1 = key.split('|');
                                run = true;
                                for (m = 0; m <= index - 1; m++) {
                                    if ($("#level" + m).val() != temp1[m]) {
                                        run = false;
                                        break;
                                    }
                                }
                                if (run == true) {
                                    next_options[temp1[index]] = '';

                                }
                            }

                            ar=[];
                            for (key in next_options) {
                                ar.push(key);
                            }
                            ar.sort();
                            for(j=0;j<ar.length;j++){
                                key=ar[j];
                                $("#level" + index).append('<option value="' + key + '">' + key + '</option>');
                            }
                            
                            
                        }
                        
                    }
                    
                }
                else{  
                    if(item_type_labels.length==1){
                        key=$(this).val();
                        seriesData=getSeriesData(key,is_admin);
                    }
                    else{
                        idSelect=$(this).attr('id');
                        if($("select[name='level']").length-1>idSelect[idSelect.length-1]){
                            resetComboboxChildren(idSelect);
                        }
                        seriesData=getMultiSeriesData(is_admin);
                    }
                    
                    
                }
                if($(this).find('option').eq(0).html()=='Please select'){
                    $(this).find('option').eq(0).remove();
                }
                
                showChart(label_for_yAxis,label_for_yAxis+' History',seriesData,'chartContainer-inventoryList');
                
            });
        }
        else{
            $("#tabs-inventoryList").remove();
            $("#inventoryList").remove();
        }
            
        
        var user_email ='<%= user_email %>';
        if(isLogin){
            $("#user_email").html(user_email).append(' (<a href="/logout/'+domain+'/'+id+'">Logout</a>)');
            $("#tabs-login_register").remove();
            $("#login_register_tab").remove();
        }
        //tab and slider
        $( "#tabs" ).tabs();

        //Q-Price
        
        trackingPriceSlide(tracked_price,0,current_price);

        //login
        $('#login-form-link').click(function(e) {
                $("#login-form").fadeIn(100);
                $("#register-form").fadeOut(100);
                $("#forgot-form").fadeOut(100);
                $('.panel-heading a').removeClass('active');
                $(this).addClass('active');
                $('input[name="logemail"]').focus();
                e.preventDefault();
        });
        $('#register-form-link').click(function(e) {
                $("#register-form").fadeIn(100);
                $("#login-form").fadeOut(100);
                $("#forgot-form").fadeOut(100);
                $('.panel-heading a').removeClass('active');
                $(this).addClass('active');
                $('input[name="email"]').focus();
                e.preventDefault();
        });
        
        $('#login_register_tab').click(function(e) {
            if($("#login-form").is(":visible")){
                $('input[name="logemail"]').focus();
            }
            else{
                $('input[name="email"]').focus();
            }
            
        });
                
                

        $('#login-submit').click(function() {
            login();
        });

        $("#login-form input").keyup(function(e) {
            var code = e.keyCode || e.which;
             if(code == 13) { //Enter keycode
               login();
             }			
        });

        $('.ui-button.ui-widget.ui-corner-all').click(function(e) {
            e.preventDefault();
            hasJustTracked=true;
            if(isLogin==false){
                $("#login_register_tab").click();
                $('#login-form-link').click();
                return;
            }
            price = $(".tracking_price span").html();
            price = price.replace("$","");
            price = $.trim(price);
            $.ajax({
                type: "GET",
                url: '/tracking/'+domain+'/'+id+'/'+price,
                dataType: 'json',
                success: function(result) {
                    if(result.success) {
                        alert('success');
                    } else {
                        alert('error');
                    }
                },
                error: function (request, status, error) {
                    console.log(request.responseText);
                    console.log(status);
                    console.log(error);
                }
            });
            $(this).html("Update tracking");
        });
        
                
        $('#register-submit').click(function() {
            regist();
        });
        $("#register-form input").keyup(function(e) {
            var code = e.keyCode || e.which;
             if(code == 13) { //Enter keycode
               regist();
             }			
        });
                
    });



        var data_price=[];
        temp=price_history.split('_');
        for(i=0;i<temp.length;i++){
            if(temp[i]!=''){
                date_and_price=temp[i].split('-');
                date=parseInt(date_and_price[0]);
                price=parseFloat(date_and_price[1]);
                data_price.push([date,price]);
            }
            
        }
        seriesData=[{
				name: 'Price',
				data: data_price,
				tooltip: {
					valueDecimals: 2,
					pointFormat: '{series.name}: <b>${point.y}</b><br/>',
					shared: true,
					xDateFormat: '%b %e %Y'
				}
			}];
        showChart('Price','Price History',seriesData,'chartContainer');
	
    
 </script>
</body>
</html>