<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Price Banana Tracker</title>
	<!-- jquery -->
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.min.css">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!-- bootstrap-social and font-awesome -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- jquery -->
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
	<!-- highcharts -->
	<script src="https://code.highcharts.com/stock/highstock.js"></script>
	<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
        <script src="/js/functions.js"></script>
        <script src="/js/functions_tokopedia.js"></script>
        <script src="/js/jAlert.js"></script>
        <script src="/js/jquery.numeric.min.js"></script>
        
	<link rel="stylesheet" type="text/css" href="/css/style.css" />
        <link rel="stylesheet" type="text/css" href="/css/inventory.css" />
        <link rel="stylesheet" type="text/css" href="/css/tracking.css" />
        <link rel="stylesheet" type="text/css" href="/css/overview.css" />
        
        <link rel="stylesheet" type="text/css" href="/css/jAlert.css" />
        
</head>
<body>
 
<div id="tabs">
	
	<ul>
                
		<li><a href="#tabs-price-history" id='history'>Price history</a></li>
                <li><a id="inventoryList" href="#tabs-inventoryList">Wholesale price</a></li>
                <li><a id="history_tab" href="#tabs-history">Other history</a></li>
                <li><a href="#tabs-overview" id='overview'>Overview</a></li>
                <li style="visibility: hidden;"><a id="login_register_tab" href="#tabs-login_register">Login/Register</a></li>
                
	</ul>
        
        
	<div id="tabs-price-history">
		<div id="chartContainer"></div>
	</div>
        <div id="tabs-inventoryList">
            <div id="form_inventoryList">
                
            </div>
            <div id="chartContainer-inventoryList">
            </div>
	</div>
        <div id="tabs-history">
		<div id="chartContainer-other"></div>
	</div>
        
        <div id="tabs-overview">
            <table>
                <tbody>
                    <tr>
                        <td class="left">
                            name
                        </td>
                        <td class="right">
                            <%= name %>
                        </td>
                    </tr>
                    <tr>
                        <td class="left">
                            last updated price
                        </td>
                        <td class="right">
                            <%= last_updated_price %>
                        </td>
                    </tr>
                    <tr>
                        <td class="left">
                            product category
                        </td>
                        <td class="right">
                            <%= product_category %>
                        </td>
                    </tr>
                    <tr>
                        <td class="left">
                            seller name
                        </td>
                        <td class="right">
                            <%= seller_name %>
                        </td>
                    </tr>
                    <tr>
                        <td class="left">
                            seller url
                        </td>
                        <td class="right">
                            <a href='<%= seller_url %>'><%= seller_url %></a>
                        </td>
                    </tr>
                    <tr>
                        <td class="left">
                            transaction success
                        </td>
                        <td class="right">
                            <%= transaction_success %>
                        </td>
                    </tr>
                    <tr>
                        <td class="left">
                            item sold
                        </td>
                        <td class="right">
                            <%= item_sold %>
                        </td>
                    </tr>
                    <tr>
                        <td class="left">
                            talk response rate
                        </td>
                        <td class="right">
                            <%= talk_response_rate %>
                        </td>
                    </tr>
                    <tr>
                        <td class="left">
                            talk response time
                        </td>
                        <td class="right">
                            <%= talk_response_time %>
                        </td>
                    </tr>
                    <tr>
                        <td class="left">
                            message response rate
                        </td>
                        <td class="right">
                            <%= message_response_rate %>
                        </td>
                    </tr>
                    <tr>
                        <td class="left">
                            message response time
                        </td>
                        <td class="right">
                            <%= message_response_time %>
                        </td>
                    </tr>
                    <tr>
                        <td class="left">
                            location of shop
                        </td>
                        <td class="right">
                            <%= location_of_shop %>
                        </td>
                    </tr>
                    <tr>
                        <td class="left">
                            condition
                        </td>
                        <td class="right">
                            <%= condition %>
                        </td>
                    </tr>
                    <tr>
                        <td class="left">
                            insurance
                        </td>
                        <td class="right">
                            <%= insurance %>
                        </td>
                    </tr>
                    <tr>
                        <td class="left">
                            weight
                        </td>
                        <td class="right">
                            <%= weight %>
                        </td>
                    </tr>
                    <tr>
                        <td class="left">
                            current review count
                        </td>
                        <td class="right">
                            <%= current_review_count %>
                        </td>
                    </tr>
                    <tr>
                        <td class="left">
                            current rating count
                        </td>
                        <td class="right">
                            <%= current_rating_count %>
                        </td>
                    </tr>
                    <tr>
                        <td class="left">
                            current number of talk about 
                        </td>
                        <td class="right">
                            <%= current_number_of_talk_about  %>
                        </td>
                    </tr>
                    <tr>
                        <td class="left">
                            shipment support
                        </td>
                        <td class="right">
                            <div class="col-xs-8" id='shipment_support'>

                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
            
	</div>
	    
        <div id="tabs-login_register">
			<!-- acount-form -->
			<div id="acount-form">
				<div class="panel panel-login">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-6">
								<a href="#" class="active" id="login-form-link">Login</a>
							</div>
							<div class="col-xs-6">
								<a href="#" id="register-form-link">Register</a>
							</div>
						</div>
						<hr>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-12">
								<form id="login-form" method="post" role="form">
									<div class="row">
										<div class="col-lg-12">
											<div class="form-group">
												<input type="text" name="logemail" tabindex="1" class="form-control" placeholder="Email">
											</div>
											<div class="form-group">
												<input type="password" name="logpassword" tabindex="2" class="form-control" placeholder="Password">
											</div>
											<div class="form-group">
												<div class="row">
													<div class="col-sm-4">
														<input type="checkbox" tabindex="3" name="rememberme">
														<label for="rememberme">Remember Me</label>
													</div>
												</div>
											</div>
											<div class="form-group">
												<div class="row">
													<div class="col-sm-5">
														<input type="button" id="login-submit" tabindex="4" class="form-control btn btn btn-primary" value="Log In">
													</div>
												</div>
											</div>
										</div>
									</div>
								</form>
								<form id="register-form" method="post" role="form" style="display: none;">
									<div class="row">
										<div class="col-lg-12">
											<div class="form-group">
												<input type="email" name="email" tabindex="6" class="form-control" placeholder="Email Address">
											</div>
											<div class="form-group">
												<input type="password" name="password" tabindex="7" class="form-control" placeholder="Password">
											</div>
											<div class="form-group">
												<input type="password" name="passwordConf" tabindex="8" class="form-control" placeholder="Confirm Password">
											</div>
											<div class="form-group">
												<div class="row">
													<div class="col-sm-5">
														<input type="button" name="register-submit" id="register-submit" tabindex="9" class="form-control btn btn btn-primary" value="Register Now">
													</div>
												</div>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end acount-form -->
			
	</div>
    
        <div style="float: left;margin: 10px;">
            <label style="cursor: pointer;" id="track-label">
                <input type="checkbox" id="track-button"/>
                Track product
            </label>
            
        </div>
        <div style="float: right;margin: 10px;" id='login-logout'>
            <button class="ui-button ui-widget ui-corner-all">Login/Register</button>
        </div>
    
        <div style="clear: both;"></div>
        <div id="tracking_div" style="display: none;background-color: #ccc;">
            <table id="tracking_table">
                <thead>
                    <tr>
                        <th>
                            Product
                        </th>
                        <th>
                            Desired price
                        </th>
                        <th>
                            Current price
                        </th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <%= name %>
                        </td>
                        <td>
                            Rp <input style="width: 50%;" class="numeric" type="text" id="desired_price" value=""/>
                        </td>
                        <td id="current_price">
                            Rp <%= current_price %>
                        </td>
                        
                    </tr>
                </tbody>
            </table>
        </div>
        
    
</div>
<div id="tracking" style="display: none;">success</div>
 <script>
     var isLogin= <%= isLogin %>;
        var href=window.location.href.split('banana/');
        href=href[1];
        href=href.split('/');
        domain=href[0];
        id=href[1].replace("/","");
        var current_price = parseFloat('<%= current_price %>');
        var tracked_price = '<%= tracked_price %>';
        if(tracked_price!=''){
            tracked_price=parseFloat(tracked_price);
        }
        var price_history='<%= price_history %>';
        var see_history='<%= see_history %>';
        var rating_history='<%= rating_history %>';
        var sold_history='<%= sold_history %>';
        var booking_min_history='<%= booking_min_history %>';
        var reviews_history='<%= reviews_history %>';
        var discussion_history='<%= discussion_history %>';
        
        shipment_support='<%= shipment_support %>';
        find1 = '&#34;';
        re1 = new RegExp(find1, 'g');
        shipment_support = shipment_support.replace(re1, '"');
        
        find1 = '&lt;';
        re1 = new RegExp(find1, 'g');
        shipment_support = shipment_support.replace(re1, '<');
        
        find1 = '&gt;';
        re1 = new RegExp(find1, 'g');
        shipment_support = shipment_support.replace(re1, '>');
        
        $("#shipment_support").html(shipment_support);
        
        is_admin= '<%= is_admin %>';
        if(is_admin=='0'){
            $("#history_tab").remove();
            $("#tabs-history").remove();
        }
        
        item_type_history= '<%= item_type_history %>';
        item_type_labels= '<%= item_type_labels %>';
        
	$( function() {
        
        $("#current_price").html("Rp "+numberWithCommasForToko(current_price));
        if(tracked_price!=''){
            $("#desired_price").val(numberWithCommasForToko(tracked_price));
        }
        
        
        
        
        
        if(item_type_history!=''&&item_type_history!='{}'){
            var find = '&#34;';
            var re = new RegExp(find, 'g');

            var item_type_html='<table>';
            
            item_type_history = item_type_history.replace(re, '"');
            item_type_labels = item_type_labels.replace(re, '"');
            
            item_type_history=$.parseJSON(item_type_history);
            item_type_labels=$.parseJSON(item_type_labels);
            
            
            item_type_html+='<table><tr><td style="width:25%;">&nbsp;&nbsp;&nbsp;Quantity</td><td style="width:75%;"><select style="width:40%;" id="level0" name="level"><option value="">Please select</option>';
            for(key in item_type_history){
                item_type_html+='<option value="'+key+'">'+key+'</option>';
            }

            item_type_html+='</select></td></tr>';
            item_type_html+='<table>';
            
            
            $("#form_inventoryList").html(item_type_html);
            
            
            $("#form_inventoryList").delegate("select", "change", function(){
                key=$(this).val();
                seriesData=getSeriesData(key);
                
                if($(this).find('option').eq(0).html()=='Please select'){
                    $(this).find('option').eq(0).remove();
                }
                
                showChart('Price','Price History',seriesData,breakData,'chartContainer-inventoryList');
                
            });
        }
        else{
            $("#tabs-inventoryList").remove();
            $("#inventoryList").remove();
        }
            
        
    });

        breakData=[];
        num=parseInt(new Date('2017-01-02').getTime())-parseInt(new Date('2017-01-01').getTime());
        var data_price=[];
        temp=price_history.split('_');
        for(i=0;i<temp.length;i++){
            if(temp[i]!=''){
                date_and_price=temp[i].split('-');
                date=parseInt(date_and_price[0]);
                price=parseFloat(date_and_price[1]);
                data_price.push([date,price]);
            }
            if(i<temp.length-1){
                date_and_price=temp[i].split('-');
                from=parseInt(date_and_price[0])+num;
                
                date_and_price=temp[i+1].split('-');
                to=parseInt(date_and_price[0]);
                
                t={from: from,to:to,breakSize: 1};
                if(to-from>num&&(breakData.length==0||breakData[breakData.length-1].to!=from)){
                    breakData.push(t); 
                }
                
            }
            
        }
        
        
        var data_see=[];
        temp=see_history.split('_');
        for(i=0;i<temp.length;i++){
            if(temp[i]!=''){
                date_and_price=temp[i].split('-');
                date=parseInt(date_and_price[0]);
                price=parseFloat(date_and_price[1]);
                data_see.push([date,price]);
            }
            
        }
        
        var data_rating=[];
        temp=rating_history.split('_');
        for(i=0;i<temp.length;i++){
            if(temp[i]!=''){
                date_and_price=temp[i].split('-');
                date=parseInt(date_and_price[0]);
                price=parseFloat(date_and_price[1]);
                data_rating.push([date,price]);
            }
            
        }
        
        var data_sold=[];
        temp=sold_history.split('_');
        for(i=0;i<temp.length;i++){
            if(temp[i]!=''){
                date_and_price=temp[i].split('-');
                date=parseInt(date_and_price[0]);
                price=parseFloat(date_and_price[1]);
                data_sold.push([date,price]);
            }
            
        }
        
        var data_booking_min=[];
        temp=booking_min_history.split('_');
        for(i=0;i<temp.length;i++){
            if(temp[i]!=''){
                date_and_price=temp[i].split('-');
                date=parseInt(date_and_price[0]);
                price=parseFloat(date_and_price[1]);
                data_booking_min.push([date,price]);
            }
            
        }
        
        var data_reviews=[];
        temp=reviews_history.split('_');
        for(i=0;i<temp.length;i++){
            if(temp[i]!=''){
                date_and_price=temp[i].split('-');
                date=parseInt(date_and_price[0]);
                price=parseFloat(date_and_price[1]);
                data_reviews.push([date,price]);
            }
            
        }
        
        var data_discussion=[];
        temp=discussion_history.split('_');
        for(i=0;i<temp.length;i++){
            if(temp[i]!=''){
                date_and_price=temp[i].split('-');
                date=parseInt(date_and_price[0]);
                price=parseFloat(date_and_price[1]);
                data_discussion.push([date,price]);
            }
            
        }

        if(is_admin=='1'){
            seriesData = [{
                    name: 'View',
                    data: data_see,
                    tooltip: {
                        valueDecimals: 0,
                        pointFormat: '{series.name}: <b>{point.y}</b><br/>',
                        shared: true,
                        xDateFormat: '%b %e %Y'
                        /*pointFormatter: function() {
                        
                            if(data_see[this.index][2]==1){
                                return this.series.name+': <b>' + this.y.toString().replace('.',',') + 'rb</b>';
                            }
                            else{
                                return this.series.name+': <b>' + this.y.toString().replace('.',',') + '</b>';
                            }
                            
                        }*/
                    },
                    color: 'blue'
                },
                {
                    name: 'Sold',
                    data: data_sold,
                    tooltip: {
                        valueDecimals: 0,
                        pointFormat: '{series.name}: <b>{point.y}</b><br/>',
                        shared: true,
                        xDateFormat: '%b %e %Y'
                    }
                },
                {
                    name: 'Min. Order',
                    data: data_booking_min,
                    tooltip: {
                        valueDecimals: 0,
                        pointFormat: '{series.name}: <b>{point.y}</b><br/>',
                        shared: true,
                        xDateFormat: '%b %e %Y'
                    },
                    color: 'green'
                },
                {
                    name: 'Reviews',
                    data: data_reviews,
                    tooltip: {
                        valueDecimals: 0,
                        pointFormat: '{series.name}: <b>{point.y}</b><br/>',
                        shared: true,
                        xDateFormat: '%b %e %Y'
                    },
                    color: 'pink'
                },
                {
                    name: 'Discussions',
                    data: data_discussion,
                    tooltip: {
                        valueDecimals: 0,
                        pointFormat: '{series.name}: <b>{point.y}</b><br/>',
                        shared: true,
                        xDateFormat: '%b %e %Y'
                    },
                    color: 'yellow'
                },
                {
                    name: 'Rating',
                    data: data_rating,
                    tooltip: {
                        valueDecimals: 1,
                        pointFormat: '{series.name}: <b>{point.y}</b><br/>',
                        shared: true,
                        xDateFormat: '%b %e %Y'
                    },
                    color: 'violet'
                }
            ];
            showChart('Other','Other History',seriesData,breakData,'chartContainer-other');
        }
        
        seriesData=[{
                    name: 'Price',
                    data: data_price,
                    tooltip: {
                            valueDecimals: 0,
                            pointFormat: '{series.name}: <b>Rp {point.y}</b><br/>',
                            shared: true,
                            xDateFormat: '%b %e %Y'
                    }
            }];
        Highcharts.setOptions({
                lang: {
                        thousandsSep: ','
                }
        });
        showChart('Price','Price History',seriesData,breakData,'chartContainer');
        
        
        
    
 </script>
<script src="/js/run.js"></script>
</body>
</html>