<!doctype html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Price Banana Tracker</title>
	<!-- jquery -->
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.min.css">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
	<!-- bootstrap-social and font-awesome -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-social/5.1.1/bootstrap-social.min.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<!-- jquery -->
	<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
	<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
	<!-- highcharts -->
	<script src="https://code.highcharts.com/stock/highstock.js"></script>
	<script src="https://code.highcharts.com/stock/modules/exporting.js"></script>
	<link rel="stylesheet" type="text/css" href="/css/style.css" />
</head>
<body>
 
<div id="tabs">
	<div class="acount">
		<span href="#" id="user_email"><%= user_email %></span>
	</div>
	<ul>
		<li><a href="#tabs-price-history">Price History</a></li>
                <li><a id="inventoryList" href="#tabs-inventoryList">Inventory list</a></li>
		<li><a id="tracking_tab" href="#tabs-track-product">Track Product</a></li>
	</ul>
	<div id="tabs-price-history">
		<div id="chartContainer"></div>
	</div>
        <div id="tabs-inventoryList">
            <div id="form_inventoryList">
                
            </div>
            <div id="chartContainer-inventoryList">
            </div>
	</div>
	<div id="tabs-track-product">
			<!-- acount-form -->
			<div id="acount-form" style="display:none">
				<div class="panel panel-login">
					<div class="panel-heading">
						<div class="row">
							<div class="col-xs-6">
								<a href="#" class="active" id="login-form-link">Login</a>
							</div>
							<div class="col-xs-6">
								<a href="#" id="register-form-link">Register</a>
							</div>
						</div>
						<hr>
					</div>
					<div class="panel-body">
						<div class="row">
							<div class="col-lg-12">
								<form id="login-form" method="post" role="form">
									<div class="row">
										<div class="col-lg-12">
											<div class="form-group">
												<input type="text" name="logemail" tabindex="1" class="form-control" placeholder="Email">
											</div>
											<div class="form-group">
												<input type="password" name="logpassword" tabindex="2" class="form-control" placeholder="Password">
											</div>
											<div class="form-group">
												<div class="row">
													<div class="col-sm-4">
														<input type="checkbox" tabindex="3" name="rememberme">
														<label for="rememberme">Remember Me</label>
													</div>
												</div>
											</div>
											<div class="form-group">
												<div class="row">
													<div class="col-sm-5">
														<input type="button" id="login-submit" tabindex="4" class="form-control btn btn btn-primary" value="Log In">
													</div>
												</div>
											</div>
										</div>
									</div>
								</form>
								<form id="register-form" method="post" role="form" style="display: none;">
									<div class="row">
										<div class="col-lg-12">
											<div class="form-group">
												<input type="email" name="email" tabindex="6" class="form-control" placeholder="Email Address">
											</div>
											<div class="form-group">
												<input type="password" name="password" tabindex="7" class="form-control" placeholder="Password">
											</div>
											<div class="form-group">
												<input type="password" name="passwordConf" tabindex="8" class="form-control" placeholder="Confirm Password">
											</div>
											<div class="form-group">
												<div class="row">
													<div class="col-sm-5">
														<input type="button" name="register-submit" id="register-submit" tabindex="9" class="form-control btn btn btn-primary" value="Register Now">
													</div>
												</div>
											</div>
										</div>
									</div>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
			<!-- end acount-form -->
			<!-- track-price -->
			<div id="track-price" class="group-price" style="display: none;">
				<form action="" method="post" class="track-product">
					<p class="price">Price: <span></span></p>
					<p class="tracking_price">Traking Price: <span></span></p>
					<p class="discount_price">Sale: <span></span><i></i></p>
					<div class="price_slider">
					  <div class="ui-slider-handle custom-handle"></div>
					</div>
					<div class="action">
						<button class="ui-button ui-widget ui-corner-all"><%= label_for_action_tracking %></button>
					</div>
				</form>
			</div>
			<!-- end track-price -->
	</div>
        
    
</div>
 
 <script>
     var isLogin= <%= isLogin %>;
     function regist(){
             var checked = true;
            var email = $.trim($('input[name=email]').val());
            $('input[name=email]').css('border-color','#ccc');
            if(email == '' || email.indexOf('@') === -1) {
                $('input[name=email]').css('border-color','red');
                checked = false;
            }
            var password = $.trim($('input[name=password]').val());
            $('input[name=password]').css('border-color','#ccc');
            if(password == '') {
                $('input[name=password]').css('border-color','red');
                checked = false;
            }
            var passwordConf = $.trim($('input[name=passwordConf]').val());
            $('input[name=passwordConf]').css('border-color','#ccc');
            if(passwordConf == '') {
                $('input[name=passwordConf]').css('border-color','red');
                checked = false;
            }

            if(checked) {
                $.ajax({
                    type: "POST",
                    url: '/register',
                    data: {
                        email: email,
                        password: password,
                        passwordConf: passwordConf,
                        is_ajax: true,
                        product_id: domain+'_'+id
                    },
                    dataType: 'json',
                    success: function(result) {
                        if(result.success) {
                            showTrackProductTab(result,email,current_price);
                        } else {
                            alert(result.message);
                        }
                    },
                    error: function() {
                        alert('ajax error');
                    }
                });
            }
     }
     function login(){
        var checked = true;
        var logemail = $.trim($('input[name=logemail]').val());
$('input[name=logemail]').css('border-color','#ccc');
        if(logemail == '' || logemail.indexOf('@') === -1) {
                $('input[name=logemail]').css('border-color','red');
                checked = false;
        }
        var logpassword = $.trim($('input[name=logpassword]').val());
$('input[name=logpassword]').css('border-color','#ccc');
        if(logpassword == '') {
                $('input[name=logpassword]').css('border-color','red');
                checked = false;
        }
        var rememberme = $('input[name=rememberme]').is(":checked");
        if(checked) {
                $.ajax({
                        type: "POST",
                        url: '/login',
                        data: {
                                logemail: logemail,
                                logpassword: logpassword,
                                rememberme: rememberme,
                                is_ajax: true,
                                product_id: domain+'_'+id
                        },
                        dataType: 'json',
                        success: function(result) {
                                if(result.success) {
                                    showTrackProductTab(result,logemail,current_price);
                                } else {
                                        alert(result.message);
                                }
                        },
                        error: function() {
                                alert('ajax error');
                        }
                });
        }
}
                
     function showTrackProductTab(result,logemail,current_price){
        $('#acount-form').hide();
        $('#track-price').show();
        isLogin=true;
        $('#user_email').html(logemail+' (<a href="/logout/'+domain+'/'+id+'">Logout</a>)');
        updatePriceSlide(result.tracked_price);
        var discount_price  = $( '#track-price .discount_price span' );
        var discount_price_percent  = $( '#track-price .discount_price i' );
        var currency = '$';
        var currency_label  = currency+' ';
        // caculate
        discount = current_price-result.tracked_price;
        discount_price.text(currency_label+discount);
        //percent
        if(current_price==0){
            percent=0;
        }
        else{
            percent = (result.tracked_price/current_price)*100;
            percent = 100-Math.ceil(percent);
        }
        discount_price_percent.text(' ('+percent+'%)');
     }
     
        var href=window.location.href.split('banana/');
        href=href[1];
        href=href.split('/');
        domain=href[0];
        id=href[1].replace("/","");
        var current_price = parseFloat('<%= current_price %>');
        var tracked_price = parseFloat('<%= tracked_price %>');
        var price_history='<%= price_history %>';
        
        is_qoo10= '<%= is_qoo10 %>';
        is_show_quantity= '<%= is_show_quantity %>';
        if(is_show_quantity=='1'){
            label_for_yAxis='Price - Quantity';
        }
        else{
            label_for_yAxis='Price';
        }
        
	$( function() {
        
        item_type_history= '<%= item_type_history %>';
        item_type_labels= '<%= item_type_labels %>';
        if(is_qoo10=='1'&&item_type_history!=''&&item_type_history!='{}'){
            var find = '&#34;';
            var re = new RegExp(find, 'g');
        

            var item_type_html='';
            var selectAll='<select id="select_inventoryList"><option value="">----------------';
            
            
            item_type_history = item_type_history.replace(re, '"');
            item_type_labels = item_type_labels.replace(re, '"');
            
            
            item_type_history=$.parseJSON(item_type_history);
            item_type_labels=$.parseJSON(item_type_labels);
            
            for(i=0;i<item_type_labels.length;i++){
                selectAll+=item_type_labels[i];
                if(i<item_type_labels.length-1){
                    selectAll+="&nbsp;&nbsp;&nbsp;";
                }
                
                item_type_html+=item_type_labels[i]+' <select>';
                level={};
                for(key in item_type_history){
                    temp=key.split('|');
                    level[temp[i]]='';
                }
                for(key in level){
                    item_type_html+='<option>'+key+'</option>';
                }
                item_type_html+='</select><br>';
            }
            
            selectAll+="----------------</option>";
            for(key in item_type_history){
                selectAll+='<option value="'+key+'">'+key.split('|').join('&nbsp;&nbsp;&nbsp;')+'</option>';
            }
            selectAll+='</select><br>';
            
            <!--$("#form_inventoryList").html(item_type_html+selectAll);-->
            $("#form_inventoryList").html(selectAll);
        
            $("#form_inventoryList").delegate("#select_inventoryList", "change", function(){
                key=$(this).val();
                var prices=[];
                if(key!=''){
                    data=item_type_history[key];
                    temp=price_history.split('_');
                    for(i=0;i<data.length;i++){

                        date=new Date(data[i]['date']).getTime();
                        date=parseFloat(date);
                        price=parseFloat(data[i]['price']);
                        prices.push([date,price]);

                    }
                }
                
                if(is_show_quantity=='1'){
                    var data_quantity=[];
                    if(key!=''){
                        data=item_type_history[key];
                        temp=price_history.split('_');
                        for(i=0;i<data.length;i++){

                            date=new Date(data[i]['date']).getTime();
                            date=parseFloat(date);
                            quantity=parseFloat(data[i]['quantity']);
                            data_quantity.push([date,quantity]);

                        }
                    }
                    
                    seriesData=[{
                                name: 'Price',
                                data: prices,
                                tooltip: {
                                        valueDecimals: 2,
                                        pointFormat: '{series.name}: <b>${point.y}</b><br/>',
                                        shared: true,
                                        xDateFormat: '%b %e %Y'
                                },
                                color: 'blue'
                        },
                        {
                                name: 'Quantity',
                                data: data_quantity,
                                tooltip: {
                                        valueDecimals: 0,
                                        pointFormat: '{series.name}: <b>{point.y}</b><br/>',
                                        shared: true,
                                        xDateFormat: '%b %e %Y'
                                }
                        }
                        ];
                }
                else{
                    seriesData=[{
                                name: 'Price',
                                data: prices,
                                tooltip: {
                                        valueDecimals: 2,
                                        pointFormat: '{series.name}: <b>${point.y}</b><br/>',
                                        shared: true,
                                        xDateFormat: '%b %e %Y'
                                },
                                color: 'blue'
                        }
                        ];
                }
                
                
                
                    Highcharts.stockChart({
                        chart: {
                                borderColor: 'white',
                                borderWidth: 1,
                                renderTo: 'chartContainer-inventoryList',
                                style: {
                                        fontFamily: 'Arial,Helvetica,sans-serif'
                                }
                        },
                        rangeSelector: {
                                selected: 3,
                                buttonTheme: { width: 50 },
                                buttons: [
                                        {type: 'week',count: 1,text: '1w'},
                                        {type: 'month',count: 1,text: '1m'}, 
                                        {type: 'month',count: 3,text: '3m'}, 
                                        {type: 'month',count: 6,text: '6m'}, 
                                        {type: 'ytd',text: 'YTD'}, 
                                        {type: 'year',count: 1,text: '1y'}, 
                                        {type: 'all',text: 'All'}
                                ]
                        },
                        yAxis: {
                                title: {
                                        text: label_for_yAxis,
                                        style: { "color": "#333", "fontSize": "22px" }
                                }
                        },
                        title: {
                                        text: '<b>Price History<b>',
                                        style: { "color": "#333", "fontSize": "30px" }
                        },
                        plotOptions: {
                                line: {
                                        color: '#ff6347',
                                        marker: { enabled: false}
                                }
                        },
                        credits: { enabled: false},
                        navigator: { enabled: false},
                        scrollbar: { enabled: false},
                        series: seriesData
                }, function (chart) {
                        // apply the date pickers
                        setTimeout(function () {
                                $('input.highcharts-range-selector', $('#' + chart.options.chart.renderTo)).datepicker()
                        }, 0)
                });
            });
        }
        else{
            $("#tabs-inventoryList").remove();
            $("#inventoryList").remove();
        }
            
        
            var user_email ='<%= user_email %>';
            if(isLogin){
                $("#user_email").html(user_email).append(' (<a href="/logout/'+domain+'/'+id+'">Logout</a>)');
            }
		//tab and slider
		$( "#tabs" ).tabs();
		$('#tracking_tab').click(function() {
			if(isLogin == false) {
				$('#track-price').hide();
				$('#acount-form').show();
			} else {
				$('#acount-form').hide();
				$('#track-price').show();
			}
		});

        //Q-Price
        
        trackingPriceSlide(tracked_price,0,current_price);

		//login
		$('#login-form-link').click(function(e) {
			$("#login-form").delay(100).fadeIn(100);
			$("#register-form").fadeOut(100);
			$("#forgot-form").fadeOut(100);
			$('.panel-heading a').removeClass('active');
			$(this).addClass('active');
			e.preventDefault();
		});
		$('#register-form-link').click(function(e) {
			$("#register-form").delay(100).fadeIn(100);
			$("#login-form").fadeOut(100);
			$("#forgot-form").fadeOut(100);
			$('.panel-heading a').removeClass('active');
			$(this).addClass('active');
			e.preventDefault();
		});
                
                

		$('#login-submit').click(function() {
			login();
		});
                
                $("#login-form input").keyup(function(e) {
                    var code = e.keyCode || e.which;
                     if(code == 13) { //Enter keycode
                       login();
                     }			
		});

        $('.ui-button.ui-widget.ui-corner-all').click(function(e) {
            e.preventDefault();
            price = $(".tracking_price span").html();
            price = price.replace("$","");
            price = $.trim(price);
            $.ajax({
                type: "GET",
                url: '/tracking/'+domain+'/'+id+'/'+price,
                dataType: 'json',
                success: function(result) {
                    if(result.success) {
                        alert('success');
                    } else {
                        alert('error');
                    }
                },
                error: function (request, status, error) {
                    console.log(request.responseText);
                    console.log(status);
                    console.log(error);
                }
            });
            $(this).html("Update tracking");
        });
        
                
        $('#register-submit').click(function() {
            regist();
        });
        $("#register-form input").keyup(function(e) {
            var code = e.keyCode || e.which;
             if(code == 13) { //Enter keycode
               regist();
             }			
        });
                
    });



        var data_price=[];
        temp=price_history.split('_');
        for(i=0;i<temp.length;i++){
            if(temp[i]!=''){
                date_and_price=temp[i].split('-');
                date=parseInt(date_and_price[0]);
                price=parseFloat(date_and_price[1]);
                data_price.push([date,price]);
            }
            
        }
	Highcharts.stockChart({
		chart: {
			borderColor: 'white',
			borderWidth: 1,
			renderTo: 'chartContainer',
			style: {
				fontFamily: 'Arial,Helvetica,sans-serif'
			}
		},
		rangeSelector: {
			selected: 3,
			buttonTheme: { width: 50 },
			buttons: [
				{type: 'week',count: 1,text: '1w'},
				{type: 'month',count: 1,text: '1m'}, 
				{type: 'month',count: 3,text: '3m'}, 
				{type: 'month',count: 6,text: '6m'}, 
				{type: 'ytd',text: 'YTD'}, 
				{type: 'year',count: 1,text: '1y'}, 
				{type: 'all',text: 'All'}
			]
		},
		yAxis: {
			title: {
				text: 'Price',
				style: { "color": "#333", "fontSize": "22px" }
			}
		},
		title: {
				text: '<b>Price History<b>',
				style: { "color": "#333", "fontSize": "30px" }
		},
		plotOptions: {
			line: {
				color: '#ff6347',
				marker: { enabled: false}
			}
		},
		credits: { enabled: false},
		navigator: { enabled: false},
		scrollbar: { enabled: false},
		series: [{
				name: 'Price',
				data: data_price,
				tooltip: {
					valueDecimals: 2,
					pointFormat: '{series.name}: <b>${point.y}</b><br/>',
					shared: true,
					xDateFormat: '%b %e %Y'
				}
			}]
	}, function (chart) {
		// apply the date pickers
		setTimeout(function () {
			$('input.highcharts-range-selector', $('#' + chart.options.chart.renderTo)).datepicker()
		}, 0)
	});
        
        
	
	function updatePriceSlide(track_value) {
            if(track_value==0){
                track_value=$( '#track-price .price span' ).html();
                track_value=track_value.replace("$","");
                track_value=$.trim(track_value);
            }
        $( '#track-price .price_slider' ).slider('option','value',track_value);
        $('.ui-slider-handle.custom-handle.ui-corner-all.ui-state-default').html("$ "+track_value);
        
    }
    function trackingPriceSlide(current_price,min_price,max_price){
        //slider
        var currency = '$';
        var currency_label  = currency+' ';
        var price           = $( '#track-price .price span' );
        var tracking_price  = $( '#track-price .tracking_price span' );
        var discount_price  = $( '#track-price .discount_price span' );
        var discount_price_percent  = $( '#track-price .discount_price i' );

        var handle = $( '#track-price .custom-handle' );
        $( '#track-price .price_slider' ).slider({
            value: current_price,
            min: min_price,
            max: max_price,
            range: 'min',
            create: function() {
                slide_price = $( this ).slider( 'value' );
                handle.text( currency_label + slide_price );
                tracking_price.text(current_price);
                price.text(currency_label + max_price);

                // caculate
                discount = max_price-current_price;
                discount_price.text(currency_label+discount);
                //percent
                
                if(max_price==0){
                    percent=0;
                }
                else{
                    percent = (current_price/max_price)*100;
                    percent = 100-Math.ceil(percent);                            

                }
                discount_price_percent.text(' ('+percent+'%)');
                $( '#track-price .price_slider .ui-slider-range' ).css( 'background-color', getColor( 100-percent ) );
            },
            slide: function( event, ui ) {
                handle.text( currency_label+ui.value );
                $(tracking_price).text(currency_label+ui.value);
                $(discount_price).text(currency_label+(max_price-ui.value));

                //percent
                percent = (ui.value/max_price)*100;
                percent = 100-Math.ceil(percent);
                discount_price_percent.text(' ('+percent+'%)');
                //update color
                $( '#track-price .price_slider .ui-slider-range' ).css( 'background-color', getColor( 100-percent ) );
            }
        });
    }

    function getColor( v ) {
        if ( v < 80 ) {
            r = 255; g = parseInt( ( ( v * 2 ) * 255 ) / 100 );
        }
        else  {
            r = parseInt( ( ( 100 - v ) * 2 ) * 255 / 100 ); g = 255;
        }
        return "rgb(" + r + "," + g + ",0)";
    }
 </script>
</body>
</html>